/* font */
table.calc-table {
    border-collapse: collapse;
    width: 100%;
}

.calc-tool {
    font-size: small;
}

.calc, .calc select, .calc input {
    font-size: medium;
}

.calc tr.calc-message {
    border-top-width: 0;
    display: none;      
}

.calc td.calc-cell-value, .calc-cell-value input[type="text"] {
    text-align: right;
}

.calc td.calc-cell-name {
    width: 570px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.calc td.calc-cell-notation {
    width: 6em;
}

.calc td.calc-cell-value {

    padding-right: 0.5em;
}

.calc tr.calc-input-int td.calc-cell-value,
.calc tr.calc-input-enum td.calc-cell-value,
.calc tr.calc-input-real td.calc-cell-value {

    padding-right: 0.0em;
}

.calc td.calc-cell-msg {
    padding-left: 0.5em;
    padding-right: 0.75em;
    text-align: right;
    font-size: small;
    font-style: italic;
}

.calc-plot {
    height: 400px;
    width: 600px;
    margin: 0 auto;
}
 